
<body>
    <div class="bgis">
        <div class="bgc bgs">
            <div id="introBox">Canberra Restaurants</div>
            <div id="quote"><h1 class="pb">Contact & About</h1></div>
        </div>
    </div>

    <div id="quote"><h1 id="justblue">About us</h1></div>
    <p class="aboutText">
        Canberra Restaurants is a review website designed to help you find the best restaurants in Canberra.
        We sort featured restaurants in a variaty of manners: by Cuisine, Price or by dishes offered.
        If you have any enquiries, you can contact us directly by filling out the form below.<br><br><br />
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-12 p10">
                <input type="text" placeholder="Name" id="name" class="contact-form"><br><br>
                <input type="email" placeholder="Email address" id="email" class="contact-form"><br><br>
                <input type="text" placeholder="Message" id="message" class="contact-form"><br><br>
                <input type="submit" value="Submit" class="website ml50">
            </div>

            <div class="col-md-3 col-sm-12 p10">
                <h2>Contact us</h2>
                <p class="p10">
                    If you have a restaurant you want to be featured, or if you have a review for one of our listed restaurants,
                    please contact us at 0FAKENUMBER02.<br>  You can also get in touch with us through email
                    at fakeEmail@address.com
                </p>
            </div>
        </div>
    </div>
</body>