

<body>
    <div class="bgis">
        <div class="bgc bgs">
            <div id="introBox">Canberra Restaurants</div>
            <div id="quote"><h1>Dishes</h1></div>

        </div>
    </div>
    <p class="aboutText">
        Hungry for a particular dish? See the catagories below to see which restaurants serve the dish you crave.<br>
        If you want a more in depth look at the dishes available, click on a restaurant to be sent to its menu.<br><br />
    </p>
    <div class="container">
        <div class="row centre">
            <div class="col-md-3 col-sm-6 p10">
                <h2 class="g">Pasta</h2>
                <p>
                    <a id="b" href="https://bellucis.com.au/_pdf/manuka/Main_May_20.pdf">Belluci’s Italian</a>
                    <br><a id="b" href="https://static1.squarespace.com/static/5806e22ec534a5bab1dbc80f/t/5f506925d777713b49fb2796/1599105319265/Sample+Menu+2020.09.01.pdf">Italian and Sons</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 p10">
                <h2 class="g">Seafood</h2>
                <p>
                    <a id="b" href="https://bellucis.com.au/_pdf/manuka/Main_May_20.pdf">Belluci’s Italian</a>
                    <br><a id="b" href="https://www.bluginger.com.au/menu/">Blu Ginger</a>
                    <br><a id="b" href="https://chairmangroup.com.au/wp-content/uploads/2020/05/Chairman-TA-MAY-20.pdf">Chairman and Yip</a>
                    <br><a id="b" href="https://e605f089-542e-47cf-a5da-c5a206f8a8ce.filesusr.com/ugd/a65258_887e21297776436bbc1f8624931f2940.pdf?index=true">Dickson Asian Noodle House</a>
                    <br><a id="b" href="https://static1.squarespace.com/static/5806e22ec534a5bab1dbc80f/t/5f506925d777713b49fb2796/1599105319265/Sample+Menu+2020.09.01.pdf">Italian and Sons</a>
                    <br><a id="b" href="https://jewelofindia.com.au/pdfs/Jewel_Dine_in_Menu_June_15.pdf">Jewel of India</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 p10">
                <h2 class="g">Curry</h2>
                <p>
                    <a id="b" href="https://www.bluginger.com.au/menu/">Blu Ginger</a>
                    <br><a id="b" href="https://e605f089-542e-47cf-a5da-c5a206f8a8ce.filesusr.com/ugd/a65258_887e21297776436bbc1f8624931f2940.pdf?index=true">Dickson Asian Noodle House</a>
                    <br><a id="b" href="https://jewelofindia.com.au/pdfs/Jewel_Dine_in_Menu_June_15.pdf">Jewel of India</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 p10">
                <h2 class="g">Stir-Fry</h2>
                <p>
                    <a id="b" href="https://chairmangroup.com.au/wp-content/uploads/2020/05/Chairman-TA-MAY-20.pdf">Chairman and Yip</a>
                    <br><a id="b" href="https://e605f089-542e-47cf-a5da-c5a206f8a8ce.filesusr.com/ugd/a65258_887e21297776436bbc1f8624931f2940.pdf?index=true">Dickson Asian Noodle House</a>
                    <br><a id="b" href="https://jewelofindia.com.au/pdfs/Jewel_Dine_in_Menu_June_15.pdf">Jewel of India</a>
                </p>
            </div>
        </div>
    </div>
</body>