
<body>
    <div class="bgis">
        <div class="bgc bgs">
            <div id="introBox">Canberra Restaurants</div>
            <div id="quote"><h1>Locations</h1></div>
        </div>
    </div>
    <!--Add your HTML elements to the blank lines below-->
    <div id="googleMap"></div>
</body>