
<body>
    <div class="bgis">
        <div class="bgc bgs">
            <div id="introBox">Canberra Restaurants</div>
            <div id="quote2" class="pb30"><h1>Prices</h1></div>

            <div class="container-fluid">
                <div class="row IndexDisc pricesBlock pb30">
                    <div class="col-md-12 col-sm-12 col-12 centre">
                        <h1 class="IndexHead centre bgw" id="justblue">Cheap Eats</h1>
                        <div class="bgw">
                            <p>
                                If you want good food on a budget, go to Dickson Asian Noodle House. Click the image below to go to their website.
                            </p>
                            <p>
                                <img class="image-border" src="~/images/noodle_logo.jpg" onClick="parent.location='https://www.facebook.com/pages/Dickson-Asian-Noodle-House/156690017692038'" />
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 centre">
                        <div class="bgw">
                            <h1 class="IndexHead centre" id="justblue">Mid-range</h1>
                            <p>
                                For good food at reasonable prices, you can visit either Italian and Sons, Blu Ginger, or Jewel of india. <br />
                                Click the images below to go to their websites.
                            </p>

                            <img class="image-border" src="~/images/is_logo.jpg" onClick="parent.location='http://italianandsons.com.au/'" />
                            <img class="image-border" src="~/images/bluginger_logo.jpg" onClick="parent.location='http://www.bluginger.com.au/'" />
                            <img class="image-border" src="~/images/jewel_logo.jpg" onClick="parent.location='http://www.jewelofindia.com.au/'" />

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12 centre">
                        <div class="bgw">
                            <h1 class="IndexHead centre" id="justblue">Fine Dining</h1>
                            <p>
                                To treat yourself, we reccomend trying Belluci's or Chairman and Yip. Click the images below to go to their websites.
                            </p>
                            <img class="image-border" src="~/images/bellucis_logo.jpg" onClick="parent.location='https://bellucis.com.au/home.php'" />
                            <img class="image-border" src="~/images/chairman_logo.jpg" onClick="parent.location='http://chairmangroup.com.au/chairmanyip/'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>